.sidebar{
    position: relative;
    width: 100%;
    z-index: 10;
    display: flex;
    gap:20px;
    flex-direction: column;
    color: white;
}
.menu_name{
    font-size: 24px;
}
.navbar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #CDCDCD;
}
.menu_items{
    cursor: pointer;
    list-style: none;
    font-size: 18px;
    color: #CDCDCD;
}